.hero_container {
  display: flex;
  width: 100vw;
  height: 100vh;

  .personal_information_container {
    position: relative;
    width: 65%;
    height: 100%;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  .skill_show_case_container {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 'fadeIn' 1s 4.5s backwards;
    @media (max-width: 1024px) {
      display: none;
      animation-delay: 0 !important;
      animation: 'fadeIn' 0.1s 0.5s forwards;
    }
  }
}
