.text_animate {
  display: inline-block;
  cursor: context-menu;

  min-width: 10px;
  &:hover {
    color: #ffd700;
  }
}

.initial_animate {
  opacity: 0;
  animation: 'bounceIn';
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.2s ease-in-out;
}

@for $i from 1 through 40 {
  ._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
