.tag_container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;

  .tags {
    position: absolute;
    bottom: 40px;
    // left: 50px;
    // color: #ffd700;
    font-size: 18px;
    font-family: 'La Belle Aurore';
    animation: fadeIns 1s forwards;
  }

  .top_tags {
    bottom: auto;
    top: 70px;
  }

  .bottom_tags {
    animation: fadeIns 0.1s 4.2s both;
  }
}
@keyframes fadeIns {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
